[Unit]
Description=PocketBase
After=network.target

[Service]
Type=simple
User=pocketbase
Group=pocketbase
LimitNOFILE=4096
Restart=always
RestartSec=5s
StandardOutput=append:/var/log/pocketbase/output.log
StandardError=append:/var/log/pocketbase/error.log
Environment="PB_ENCRYPTION_KEY=your-32-char-encryption-key-here"
ExecStart=/usr/local/bin/pocketbase serve --http=127.0.0.1:8090

[Install]
WantedBy=multi-user.target